<div class="books_edit">
  <h1 class="heading">Editing Book</h1>

  <% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= form_with model: @book do |f| %>
  <div class="books_title">
    <h7>Title</h7>
    <p><%= f.text_field :title %></p>
  </div>
  <div class="books_body">
    <h7>Body</h7>
    <div><%= f.text_area :body %></div>
  </div>
  <div class="actions">
    <%= f.submit 'Update Book' %>
  </div>
  <% end %>

  <div class="links">
    <%= link_to "Show", book_path(@book.id) %> |
    <%= link_to "Back", books_path %>
  </div>
</div>